<div  class="columns is-centered ng-star-inserted">
  <div  class="column is-6">
     <h2  class="title has-text-centered my-5">Cadastrar novo médico</h2>
     <form  form [formGroup]="formMedico"(submit)="cadastrarMedico()" class="my-5 ng-pristine ng-invalid ng-touched">
        <div  class="field">
           <label  class="label">Nome</label>
           <div  class="control"><input  type="text" formControlName="nome" placeholder="Nome" [ngClass]="this.formMedico.get('nome')?.valid ? 'input is-success': 'input is-danger'"></div>
           <!----><!----><!---->
        </div>
        <div  class="field">
           <label  class="label">Especialidade</label>
            <div class="select">
              <select formControlName="idEspecialidade" [ngClass]="this.formMedico.get('idEspecialidade')?.valid ? 'input is-success': 'input is-danger'">
                <option disabled selected value> -- select an option -- </option>
                <option *ngFor="let especialidade of especialidades" value={{especialidade.id}}>
                  {{especialidade.nome}}
                </option>
              </select>
            </div>
           </div>

        <div  class="field is-grouped">
           <div  class="control"><button  class="button is-link">Cadastrar</button></div>
        </div>
     </form>
  </div>
</div>
