<div  class="has-text-centered">
  <h4  class="subtitle">Faça seu Login Aqui!</h4>
</div>
<form [formGroup]="formUser" (submit)="fazerLogin()" class="ng-pristine ng-invalid ng-touched">

  <div  class="field">
    <label class="label">Login</label>
    <div  class="control">
      <input  type="email" formControlName="login" placeholder="exemplo@email.com" [ngClass]="this.formUser.get('login')?.valid ? 'input is-success': 'input is-danger'">
    </div>
  </div>

  <div  class="field">
    <label  class="label">Senha</label>
    <div  class="control">
      <input  type="password" formControlName="senha" [ngClass]="this.formUser.get('senha')?.valid ? 'input is-success': 'input is-danger'">
    </div>
  </div>
  <div  class="field is-grouped">

  </div>
  <div  class="control">
    <button class="button is-primary">Login</button>
  </div>
</form>
