<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      <!-- <a class="navbar-item" routerLink="/home">
        <img src="/src/img/logo.png" width="112" height="28"> -->
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a (click)="homeSession()" class="navbar-item">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Pacientes</a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/listar-paciente">Listar Paciente</a>
          <a class="navbar-item" routerLink="/cadastrar-paciente">Cadastrar Paciênte</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Médicos</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/listar-medico">Listar Médicos</a>
          <a class="navbar-item" routerLink="/cadastrar-medico">Cadastrar Médico</a>
        </div>
      </div>

      <div class="navbar-item is-hoverable">
        <a class="navbar-item" routerLink="/cadastrar-consulta">Adicionar consulta</a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a (click)="logout()" class="button is-light">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
