<div class="columns is-centered ng-star-inserted">
  <div class="column is-6">
    <h2 class="title has-text-centered my-5">Cadastrar nova consulta</h2>
    <form [formGroup]="formConsulta"(submit)="cadastrarConsulta()" novalidate="" class="my-5 ng-untouched ng-pristine ng-invalid">
      <div class="field">
        <label class="label">Médico</label>
        <div class="select">
          <select formControllName="idMedico" class="select is-danger ng-untouched ng-pristine ng-invalid">
            <option disabled selected value> -- select an option -- </option>
            <option *ngFor="let medico of medicoList" value={{medico.id}}>
              {{medico.nome}}
            </option>
          </select>
        </div>
        <p class="help is-danger ng-star-inserted">Médico inválido</p>
      </div>
      <div class="field">
        <label class="label">Paciente</label>
        <div class="select">
          <select formControllName="idPaciente" class="select is-danger ng-untouched ng-pristine ng-invalid">
            <option disabled selected value> -- select an option -- </option>
            <option *ngFor="let paciente of pacienteList" value={{paciente.id}}>
              {{paciente.nome}}
            </option>
          </select>
        </div>
        <p class="help is-danger ng-star-inserted">Paciente inválido</p>
        
      </div>
      <div class="field">
        <label class="label">Data da consulta</label>
        <div class="control"><input type="date" formControllName="data"
            class="input is-danger ng-untouched ng-pristine ng-invalid" /></div>
        <p class="help is-danger ng-star-inserted">Selecione uma data e hora válidas!</p>
       
      </div>
      <div class="field">
        <label class="label">Dia da consulta</label>
        <div class="control"><input type="time" formControllName="hora"
            class="input is-danger ng-untouched ng-pristine ng-invalid" /></div>
        <p class="help is-danger ng-star-inserted">Selecione uma data e hora válidas!</p>
      </div>
      <div class="field is-grouped">
        <div class="control"><button class="button is-link">Cadastrar</button></div>
      </div>
    </form>
  </div>
</div>
