<div class="columns is-centered ng-star-inserted">
  <div class="column is-6">
    <h2 class="title has-text-centered my-5">Cadastrar nova consulta</h2>
    <form [formGroup]="formConsulta"(submit)="cadastrarConsulta()" novalidate="" class="my-5 ng-untouched ng-pristine ng-invalid">
      <div class="field">
        <label class="label">Médico</label>
        <div class="select">
          <select formControlName="idMedico" [ngClass]="this.formConsulta.get('idMedico')?.valid ? 'input is-success': 'input is-danger'">
            <!-- <option disabled selected value> -- select an option -- </option> -->
            <option *ngFor="let medico of medicoList" value={{medico.id}}>
              {{medico.nome}}
            </option>
          </select>
        </div>

      </div>
      <div class="field">
        <label class="label">Paciente</label>
        <div class="select">
          <select formControlName="idPaciente" [ngClass]="this.formConsulta.get('idPaciente')?.valid ? 'input is-success': 'input is-danger'" >

            <option *ngFor="let paciente of pacienteList" value={{paciente.id}}>
              {{paciente.nome}}
            </option>
          </select>
        </div>


      </div>
      <div class="field">
        <label class="label">Data da consulta</label>
        <div class="control">
          <input type="date" formControlName="data"
          [ngClass]="this.formConsulta.get('data')?.valid ? 'input is-success': 'input is-danger'" /></div>


      </div>
      <div class="field">
        <label class="label">Dia da consulta</label>
        <div class="control">
          <input type="time" formControlName="hora"
          [ngClass]="this.formConsulta.get('hora')?.valid ? 'input is-success': 'input is-danger'" />
        </div>

      </div>
      <div class="field is-grouped">
        <div class="control"><button class="button is-link">Cadastrar</button></div>
      </div>
    </form>
  </div>
</div>
